/* your code here */
footer{
	background-color:#000000;
	padding:30px;
}
.logo_name{
	color:white;
	font-size:30px;
	font-family:Arial;
}
.top{
	display:flex;
	justify-content:space-between;
	/* border:1px solid white; */
	align-items:center;
}
.media-icons{
	display:flex;
	justify-content:space-around;
	/* border:1px solid white; */
	width:40%;
	font-size:30px;
}
table{
	color:white;
	width:100%;
	/* border:1px solid white; */
	margin-top:30px;
	height:200px;
}
.first>td{
	text-decoration:underline;
	text-underline-offset: 10px;
	font-family:Arial;
	font-size:17px;
	width:100px;
}
.list{
	color:#c4c4c4;
	font-family:Arial;
	font-size:14px;
}
.bottom-details{
	color:#c4c4c4;
	/* border:1px solid white; */
	display:flex;
	justify-content:space-between;
	background-color:#2c303a;
	font-family:Arial;
	padding-inline:30px;
}
.link-boxes{
    display: flex;
    /* justify-content: space-around;
    background-color: rgb(27, 25, 25);
    color: white;
	font-size: 15px;
	height: 250px; */
}
